.container{
    margin-top: 50px;
}
.submit-area{
    margin-top: 50px;
}
.status{
    color: white;
    padding: 20px 0px;
    margin: 0 20px;
    text-align: center;

}
.deposit{
    background-color: royalblue;
    border-radius: 10px;
}
.withdrow{
    background-color: salmon;
    border-radius: 10px;
}
.balance{
    background-color: skyblue;
    border-radius: 10px;
}
.depo-area{
    padding-right: 60px;
}
.col-5{
   margin: 50px 25px ;
}